<footer>
  <em>Powered by <%=NAME%> &mdash; <%=MOTTO%></em>
  <a href="/">Home</a>
  <a href="/new">New Room</a>
  <a href="/terms">ToS & Privacy policy</a>
  <a href="/rules">Rules</a>
  <a href="/top/uploaded">Top Users</a>
  <a
    href="https://github.com/apoapostolov/Dicefiles-Ephemereal-Filesharing"
    target="_blank"
    ><span class="i-gitgud"></span
  ></a>
  <a href="https://x.com/apoapostolov" target="_blank"
    ><span class="i-twatter"></span
  ></a>
</footer>
